
#footer {
    color: #f4f4f4;
    margin-top: auto;
    background-color: #161616;

    .footer__content {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        .content__navigation {
            flex-grow: 1;

            .navigation__list {
                display: flex;
                width: 100%;
                margin: 0;
                padding: 1rem 0;
                column-gap: 2rem;
                list-style: none;
                color: #c6c6c6;
                font-weight: 200;

                .list__link {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        color: #f4f4f4;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}