#header {
    border-bottom-width: 1px;
    position: sticky;
    background: #ffffff;
    height: 3rem;
    width: 100%;
    z-index: var(--z-index-sticky);
    top: 0;

    .header__container {
        height: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
}
