#header {
    padding: 0.75rem 0.875rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;

    & ~ #main {
        padding-top: unset;
    }

    .header__breadcrumbs {
        font-size: 0.938rem;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
        padding: 3px 13px;
        border-radius: 8px;
        font-weight: 300;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        .breadcrumbs__item {
            text-decoration: none;
            color: inherit;
        }

        .breadcrumbs__separator {
            background: #8f8f8f;
            width: 1px;
            height: 12px;
            transform: rotate(10deg);
        }
    }
}
