#header {
    display: flex;
    flex-shrink: 0;
    height: 4.5rem;
    padding: 0 1.5rem;
    column-gap: 1.5rem;
    align-items: center;
    border-bottom: 1px solid rgba(64, 64, 64, 0.1);

    & ~ #main {
        padding-top: unset;
    }

    .header__menu {
        font-size: 0.625rem;
        background: none;
        cursor: pointer;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
    }

    .header__delimiter {
        width: 1px;
        height: 1.5rem;
        background: rgba(64, 64, 64, 0.15);
    }

    .header__logo {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        font-weight: 400;
        font-size: 1.25rem;
        text-decoration: none;
        color: inherit;
    }

    .header__name {
        flex-grow: 1;
        font-weight: 300;
        color: #707070;
    }
}
