#header {
    height: 2.5rem;
    padding: 0.75rem 0.75rem 0.25rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;

    & ~ #main {
        padding-top: unset;
    }

    .header__breadcrumbs {
        font-size: 0.938rem;

        .breadcrumbs__item {
            text-decoration: none;
            font-weight: 300;
            color: inherit;
        }

    }
}
