#navigation {
    flex-shrink: 0;
    max-height: 100%;
    overflow: auto;
    width: 17rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f3f7fb;
    padding: 1.5rem 0;

    .navigation__logo {
        margin: 0 1.5rem 1.5rem;
        height: 32px;
        width: fit-content;
        display: block;
    }

    .navigation__list {
        padding: 0 0.75rem;
        font-size: 0.9rem;
        font-weight: 300;
        height: 100%;
        display: flex;
        flex-direction: column;

        .list__title {
            padding: 0.5rem 0.75rem 0.75rem;
            font-weight: 400;
            color: #727676;
        }

        .list__divider {
            width: 100%;

            &--grow {
                flex-grow: 1;
            }
        }

        .list__link,
        .list__button {
            color: inherit;
            font-size: inherit;
            line-height: inherit;
            font-weight: 350;
            padding: 0.5rem 0.75rem;
            height: 2.5rem;
            border-radius: 2rem;
            text-decoration: none;
            border: none;
            background: none;
            width: 100%;
            color: #657380;
            cursor: pointer;
            display: flex;
            flex-wrap: nowrap;
            column-gap: 0.5rem;
            align-items: center;

            &--active,
            &:active {
                background: #d5e5fb;
                color: #0167ff;
                font-weight: 400;
            }

            &:hover:not(.list__link--active) {
                background: #818b981a;
            }

            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }

            i {
                font-size: 1.25rem;
                text-align: center;
                width: 2rem;              
            }
        }
    }
}
