#searchbar {
    border-bottom-width: 1px;
    position: sticky;
    height: 3rem;
    width: 100%;
    z-index: var(--z-index-sticky);
    top: 0;

    & > i {
        pointer-events: none;
        fill: #525252;
        position: absolute;
        left: 1rem;
        top: 50%;
        width: 20px;
        font-size: 1.125rem;
        transform: translateY(-50%);
    }

    .searchbar__label {
        display: none;
    }

    .searchbar__input {
        border: 0;
        height: 100%;
        width: 100%;
        color: inherit;
        line-height: inherit;
        font-family: inherit;
        font-size: 0.875rem;
        font-weight: 300;
        background: none;
        padding-left: 3rem;
        appearance: none;
        outline: none;

        &::placeholder {
            color: #8f8f8f;
            font-weight: 300;
        }
    }
}
