#sidebar {
    flex-shrink: 0;
    max-height: 100%;
    background: #ffffff6e;
    border-color: #eaeaea;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(4px);
    border-top-left-radius: 1rem;
    border-top-width: 1px;
    border-left-width: 1px;
    margin-left: -2px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.5rem;
    width: 4rem;
    height: 100%;

    .sidebar__item {
        padding: 0.5rem;
        height: 42px;
        width: 42px;
        border-radius: 10px;
        border-width: 0.5px;
        border-color: rgba(13, 13, 13, 0.13);
        background: #ffffff;
        position: relative;
        cursor: pointer;
        display: flex;
        font-size: 1.25rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;

        &--selected::after {
            content: "";
            position: absolute;
            top: 18px;
            right: -9.5px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #0167ff;
        }
    }

    .sidebar__add {
        height: 42px;
        width: 42px;
        border-radius: 10px;
        display: flex;
        font-size: 1.125rem;
        background: #0000000f;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}