.content__studio {
    height: 100%;

    .studio__content {
        height: 100%;
        overflow: hidden;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        background: rgba(64, 64, 64, 0.07);
    }
}