<nav id="navigation" aria-label="Navigation">
    <a class="navigation__logo" href="/">
        <img src="/static/images/favicon.svg" draggable="false" width="32" height="32">
    </a>
    <div class="navigation__list">
        <!-- Menu items -->
        <div class="list__title">Home</div>
        <a class="list__link list__link--active" href="/">
            <i style="font-size: 0.813rem;" class="fa-kit fa-dashboard"></i> Dashboard
        </a>
        <div class="list__title">Manage</div>
        <a class="list__link list__link" href="/studios">
            <i style="font-size: 0.813rem;" class="fa-kit fa-studio"></i> Studios
        </a>
        <a class="list__link" href="/images">
            <i style="font-size: 0.938rem;" class="fa-kit fa-image"></i> Images
        </a>
        <a class="list__link" href="/containers">
            <i style="font-size: 0.938rem;" class="fa-kit fa-container"></i> Containers
        </a>
        <a class="list__link" href="/volumes">
            <i style="font-size: 0.938rem;" class="fa-sharp fa-solid fa-hard-drive"></i> Volumes
        </a>
        <a class="list__link" href="/databases">
            <i style="font-size: 1.25rem;" class="fa-kit fa-database"></i> Databases
        </a>
        <a class="list__link" href="/registries">
            <i style="font-size: 1rem;" class="fa-kit fa-docker"></i> Registries
        </a>
        <a class="list__link" href="/machines">
            <i style="font-size: 0.938rem;" class="fa-sharp fa-solid fa-server"></i> Machines
        </a>
        <hr class="list__divider list__divider--grow">
        <a class="list__link" href="/documentation">
            <i style="font-size: 0.938rem;" class="fa-kit fa-book"></i> Product Docs
        </a>
        <a class="list__link list__link--bold list__link--blue" href="/status">
            <i style="font-size: 0.938rem;" class="fa-kit fa-healthy"></i> System Operational
        </a>
    </ul>
</nav>
