# Derived files (no Autotools stuff).
*.o
a.out
/bin/clearly
/cmd/check
/cmd/run
/cmd/link
/cmd/image
/cmd/daemon
/cmd/version
/cmd/image.c
/cmd/daemon.c
/lib/*.c
/lib/*.so
/examples/copy/dirCa/symlink-to-dirCb
/examples/copy/dirD/symlink-to-fileDa
/examples/copy/dirEa/symlink-to-dirEb
/examples/copy/dirG/s_dir2
/examples/copy/dirG/s_dir3
/examples/copy/dirG/s_file2
/examples/copy/dirG/s_file3
/examples/copy/symlink-to-fileA
/examples/copy/symlink-to-fileB-A
/examples/copy/symlink-to-fileB-B
/doc/_deps.rst
/doc/doctrees/
/doc/html/
/doc/man/*.[17]
/test/build/30_doctest-auto.bats
/test/force-auto.bats
/test/docs-sane
/test/doctest
/test/fixtures/symlink-to-tmp
/test/force-auto
/test/make-perms-test
/test/order-py
/test/sotest/*.so*
/test/sotest/sotest
/test/sotest/bin/
/test/sotest/lib/

# Perhaps-unpacked tarballs at root of working directory.
/clearly-*.tar*
/clearly-*/

# Debugging crap.
/build-cache.gv
/build-cache.pdf

# OS X crap.
._*
.DS_Store
.fuse_*

# Nuitka crap.
*.dist/
*.build/
*.onefile-build/

# Python crap.
__pycache__

# Vim crap.
*.swp

# VSCode crap.
.vscode

# Autotools crap. Coordinate with autogen.sh. Note negations.
Makefile
!/examples/*/Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/bin/.deps/
/cmd/.deps/
/cmd/config.h
/cmd/config.h.in
/cmd/config.h.in~
/cmd/stamp-h1
/build-aux/
/config.log
/config.status
/configure
