/* Base */
@import "./base/_fonts";
@import "./base/_mixins";
@import "./base/_variables";

/* Components */
@import "./components/_alignment";
@import "./components/_admonition";
@import "./components/_code";
@import "./components/_calendar";
@import "./components/_footnote";
@import "./components/_headerlink";
@import "./components/_tooltip";
@import "./components/_navigation";
@import "./components/_scrolltop";
@import "./components/_search";
@import "./components/_copy";
@import "./components/_slider";
@import "./components/_hero";

/* Layout */
@import "./layout/_header";
@import "./layout/_sidebar";
@import "./layout/_footer";

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #ededed;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}

html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: ui-sans-serif, -apple-system,
        system-ui, Segoe UI, Helvetica,
        Apple Color Emoji, Arial, sans-serif,
        Segoe UI Emoji, Segoe UI Symbol;
    font-feature-settings: normal;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: rgb(20, 20, 20);
    width: 100%;
    margin: 0;

    &.body--sidebar-open {
        overflow: hidden;
    }

    #skip {
        position: absolute;
        top: 0;
        left: 0;
        z-index: var(--z-index-topmost);
        display: block;
        background: var(--background);
        padding: 1rem;
        font-size: 1.25rem;
        transition: all 0.2s ease;
        transform: translateX(-100%);
        opacity: 0;

        &:focus {
            transform: translateX(0);
            opacity: 1;
        }
    }

    #overlay {
        position: fixed;
        inset: 0;
        z-index: var(--z-index-modal);
        overflow: hidden;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(4px);
    
        @media (min-width: 768px) {
            display: none;
        }
    }

    #main {
        width: 100%;
        display: flex;
        margin: 0 auto;
        max-width: 96rem;
        position: relative;
        flex-direction: column;

        @media (max-width: 768px) {
            padding: 0 1rem;
        }

        #content {
            display: grid;
            grid-template-columns: 240px minmax(0, 50rem);
            padding: 0 2rem;
            padding-top: 2rem;
            margin: 0 auto;
            width: 100%;
            gap: 4rem;

            @media (max-width: 768px) {
                padding: 0;
            }
            
            &[orphan] {
                display: unset;
                grid-template-columns: unset;
                padding-top: unset;
                gap: unset;
            }            
        }
    }
}

h1, h2, h3, h4, h5, h6, blockquote,
dd, dl, figure, hr, p {
    margin: 0;
}

pre {
    margin-top: 1.5rem;
}

button, a {
    font-family: inherit !important;
    text-decoration: none;
    color: inherit;
    outline: none;
}

svg {
    display: inline;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: var(--border);
}

h1 {
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
    font-weight: 500;
}

h2 {
    margin-top: 3rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 600;
}

h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

h4,
/* Alternate .rubric */
.rubric {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
}

section,
/* Alternate .section */
.section {
    scroll-margin-top: 5rem;

    & > p {
        margin-top: 1.5rem;
        line-height: 1.75;
        font-weight: 300;

        &:first-child {
            margin-top: 0;
        }

        &.lead {
            font-size: 1.125rem;
            color: var(--muted-foreground);
        }
    }
}

ul {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    list-style-type: disc;

    &>li,
    &>p {
        margin-top: 1.5rem;
    }

    ul {
        margin-top: 0;
    }
}

ol {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    list-style-type: decimal;

    &>li,
    &>p {
        margin-top: 1.5rem;
    }

    ol {
        margin-top: 0;
    }
}

dl {
    margin-top: 1.5rem;

    dt:not(.sig) {
        margin-top: 1.5rem;
        font-weight: 500;

        &:first-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    dd {
        margin-left: 1.5rem;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

figure, img {
    display: block;
}

figcaption {
    margin-bottom: 3rem;
    font-size: 0.875rem;
    color: var(--muted-foreground);

    &>* {
        margin-top: 1rem;
    }
}

blockquote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-left: 2px solid;
    padding-left: 1.5rem;
    font-style: italic;

    .attribution {
        margin-top: 0.5rem;
        font-style: normal;
    }
}

table {            
    border-collapse: collapse;
    border-color: inherit;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-indent: 0;
    width: 100%;

    caption {
        margin-bottom: 1.5rem;
        text-align: left;
        color: var(--muted-foreground);
    }

    thead {
        border-bottom: 1px solid var(--border);
    }

    th {
        padding-bottom: 0.5rem;
        text-align: left;
        font-weight: 500;
        padding-left: 0.5rem;

        &:first-child {
            padding-left: 0;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid var(--border);
        }

        td {
            padding: 0.5rem;
            padding-left: 0.5rem;

            &:first-child {
                padding-left: 0;
            }
        }
    }
}