#sidebar {
  .caption {
    margin-bottom: 0.25rem;
    border-radius: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;

    &:first-child {
      padding-top: 0;
    }

    &:focus-visible {
      outline-offset: -1px;
    }
  }

  a {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;

    &:hover {
      text-decoration: underline;
    }

    &.current {
      border: 1px solid hsl(var(--border));
      background-color: hsl(var(--accent));
      font-weight: 500;
      color: hsl(var(--accent-foreground));
    }

    &.expandable {
      justify-content: space-between;

      &.expanded > button > svg {
        transform: rotate(90deg);
      }
    }

    & > button {
      border-radius: 0.25rem;
      color: hsl(var(--muted-foreground));

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      & > svg {
        transform-origin: center;
        transform: translateZ(0);
        transition: transform;
      }
    }
  }

  ul {
    display: grid;
    transform: translateZ(0);
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    overflow: hidden;
    font-size: 0.875rem;
    transition: all 300ms ease-in-out;

    ul {
      position: relative;
      margin-left: 0.75rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0;
      opacity: 1;
      transition: opacity 500ms;

      &::before {
        position: absolute;
        top: 0.25rem;
        bottom: 0.25rem;
        left: 0;
        width: 1px;
        background-color: rgb(229 231 235);
        content: "";
      }
    }
  }
}
  