#sidebar {
  position: fixed;
  inset: 0;
  left: 0;
  padding: 0;
  z-index: var(--z-index-sticky);
  background: var(--background);
  transition: all 0.1s ease;
  transform: translateX(-100%);
  margin-left: 0;
  padding: 1.5rem;
  width: 83.333333%;
  overflow-y: auto;

  @media (min-width: 768px) {
    top: 82px;
    z-index: 30;
    padding: 0;
    background: transparent;
    transform: translateX(0);
    margin-left: -0.5rem;
    height: calc(100vh - 3.5rem);
    width: 100%;
    overflow-y: auto;
    position: sticky;
  }

  &--open {
    transform: translateX(0);
  }

  .sidebar__content {
    position: relative;
    overflow: hidden;
    margin: 1rem 0;

    @media (min-width: 768px) {
      margin: 0;
      overflow: auto;
    }

    .content__wrapper {
      position: relative;
      overflow-y: auto;
      height: 100%;
      width: 100%;

      .sidebar__navigation {
        width: 100%;
      }
    }

    

    .sidebar__close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      border-radius: 0.125rem;
      opacity: 0.7;
      transition: opacity 0.2s ease;

      @media (min-width: 768px) {
        display: none;
      }

      &:hover {
        opacity: 1;
      }

      svg {
        height: 1rem;
        width: 1rem;
      }
    }
  }

  // Sidebar overlay for mobile
  .sidebar__overlay {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-modal);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);

    @media (min-width: 768px) {
      display: none;
    }
  }
}