
.content__index {
    padding: 2.5rem;

    .index__header {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        margin-bottom: 1.5rem;

        .header__container {
            display: flex;
            column-gap: 1rem;

            .header__image {
                width: 59px;
                height: 59px;
                border-radius: 10px;
                outline: 1px solid rgba(0, 0, 0, 0.12);
                outline-offset: -1px;
            }

            .header__content {
                .content__title {
                    font-weight: 250;
                    line-height: 1;
                    margin-bottom: 10px;
                    display: flex;
                    column-gap: 0.75rem;
                    align-items: center;

                    .title__default {
                        font-size: 0.875rem;
                        font-weight: 200;
                        line-height: 1;
                        height: fit-content;
                        padding: 0.25rem 0.5rem;
                        margin-bottom: -2px;
                        border-radius: 11px;
                        color: #5d5d5d;
                        background: #ececec;
                    }
                }

                .content__description {
                    font-size: 0.938rem;
                    font-weight: 200;
                    line-height: 1;
                    color: #8f8f8f;
                }
            }
        }
    }

    .index__tabs {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        margin-bottom: 1.5rem;
        border-bottom-width: 1px;

        .tabs__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            height: 55px;
            margin-right: auto;
            margin-left: auto;

            .container__tabs {
                display: flex;
                flex-direction: row;
                column-gap: 0.25rem;
                align-items: center;
                position: relative;
                margin-left: -0.75rem;

                .tab__item {
                    padding: 0.425rem 0.75rem;
                    border-radius: 8px;
                    display: flex;
                    position: relative;
                    font-weight: 300;
                    cursor: pointer;

                    &:active {
                        background: #0000000f;
                    }
    
                    &:hover {
                        background: #0000000a;
                    }

                    &:after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: calc(100% - 2 * 0.75rem);
                        background: transparent;
                        border-radius: 4px;
                        position: absolute;
                        bottom: -10px;
                        left: 0.75rem;
                    }

                    &--active {
                        &:after {
                            background: currentColor;
                        }
                    }
                }
            }
        }
    }

    .index__content {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;

        .content__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            margin-right: auto;
            margin-left: auto;
    
            .container__content {
                width: 100%;

                .content__panel {
                    .panel__title {
                        font-size: 0.875rem;
                        font-weight: 300;
                        margin-bottom: 0.75rem;
                    }

                    .panel__list {
                        .list__item {
                            display: flex;
                            align-items: center;
                            column-gap: 15px;
                            padding: 0.5rem 1.125rem;
                            height: 54px;
                            border-width: 1px;
                            border-color: #eaeaea;
                            font-size: 0.938rem;
                            cursor: pointer;
                            width: 100%;
                            border-radius: 8px;
                            background: #ffffff;
                            box-shadow: 1px 2px 4px rgba(0,0,0,.03);

                            .item__status {
                                width: 7px;
                                height: 7px;
                                border-radius: 50%;

                                &--running {
                                    background: #1ecf8c;
                                }

                                &--stopped {
                                    background: #bd3229;
                                }

                                &--unhealthy {
                                    background: #bd3229;
                                }

                                &--completed {
                                    background: #070707;
                                }

                                &--pending {
                                    background: #9fa1a3;
                                }
                            }
                            .item__icon {
                                width: 19px;
                            }
                            .item__name {
                                font-weight: 350;
                            }
                            .item__ip-address {
                                flex-grow: 1;
                                font-weight: 250;
                                line-height: 1;
                                color: #8f8f8f;
                            }
                            .item__tags {}
                            .item__actions {}
                            .item__more {}
                        }
                    }
                }
            }
        }
    }
}