
.content__index {
    padding: 2.5rem;

    .index__header {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;

        .header__container {
            display: flex;
            column-gap: 1rem;

            .header__image {
                width: 74px;
                height: 74px;
                border-radius: 10px;
                outline: 1px solid rgba(0, 0, 0, 0.12);
                outline-offset: -1px;
            }

            .header__content {
                .content__title {
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.2;
                }

                .content__description {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                }
            }
        }
    }

    .index__tabs {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        border-bottom-width: 1px;

        .tabs__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            height: 3.125rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 2.5rem;

            .container__tabs {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                margin-bottom: -1px;

                .tab__item {
                    padding: 0 1.5rem;
                    height: 100%;
                    display: flex;
                    min-width: 12.5rem;
                    background: #e0e0e0;
                    border-left: 1px solid #afafaf;
                    position: relative;
                    font-weight: 350;
                    cursor: pointer;
                    text-align: left;
                    align-items: center;

                    &:first-child:before {
                        width: calc(100% + 1px);
                        left: -1px;
                    }

                    &:last-child:before {
                        width: calc(100% + 1px);
                    }

                    &:before {
                        content: '';
                        display: block;
                        height: 2.5px;
                        width: 100%;
                        background: transparent;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:first-child:not(.tab__item--active) {
                        border-left-color: transparent !important;
                    }

                    &:last-child:is(.tab__item--active) {
                        border-right: 1px solid #e0e0e0;
                    }

                    &--active {
                        background: #ffffff;
                        border-left: 1px solid #e0e0e0;

                        &:before {
                            background: #204ff5;
                        }

                        & + .tab__item {
                            border-left-color: transparent !important;
                        }
                    }
                }
            }
        }
    }

    .index__content {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;

        .content__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            margin-right: auto;
            margin-left: auto;
    
            .container__content {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 2.25rem 2.5rem;
                row-gap: 1rem;

                .content__panel {
                    // TODO: Add content
                }
            }
        }
    }
}