.content__index {
    padding: 1.75rem 2.25rem;

    .index__header {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        margin-bottom: 1.75rem;

        .header__title {
            font-weight: 350;
            line-height: 1;
            font-size: 1.5rem;
            margin: 0;
        }
    }

    .index__status {
        display: flex;
        column-gap: 1rem;
        margin-bottom: 0.75rem;

        .status__item {
            display: flex;
            width: 13rem;
            flex-direction: column;
            padding: 0.85rem 1.25rem;
            background: rgba(64, 64, 64, 0.06);
            border-radius: 1.25rem;
            row-gap: 0.25rem;

            .item__title {
                font-weight: 350;
            }

            .item__value {
                font-size: 1.75rem;
                line-height: 1.2;
                font-weight: 500;
            }
        }
    }

    .index__tabs {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        margin-bottom: 1.5rem;

        .tabs__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            height: 55px;
            margin-right: auto;
            margin-left: auto;

            .container__tabs {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                margin-left: -1rem;

                .tab__item {
                    padding: 0.5rem 1rem;
                    border-radius: 2rem;
                    display: flex;
                    color: #707070;
                    position: relative;
                    font-weight: 450;
                    cursor: pointer;
    
                    &:hover {
                        background: rgba(237, 237, 237, 0.52);
                    }

                    &:after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: calc(100% - 2 * 1rem);
                        background: transparent;
                        border-radius: 4px;
                        position: absolute;
                        bottom: -8px;
                        left: 1rem;
                    }

                    &--active {
                        color: unset;

                        &:after {
                            background: currentColor;
                        }
                    }
                }
            }
        }
    }

    .index__content {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;

        .content__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            margin-right: auto;
            margin-left: auto;
    
            .container__content {
                width: 100%;

                .content__panel {
                    .panel__item {
                        width: 100%;
                        display: flex;
                        color: inherit;
                        cursor: pointer;
                        margin-bottom: 1rem;
                        font-size: 0.925rem;
                        align-items: center;
                        column-gap: 1.25rem;
                        text-decoration: none;
                        border-radius: 1.25rem;
                        padding: 1rem 2.5rem 1rem 1.125rem;
                        box-shadow: rgba(64, 64, 64, 0.1) 0px 0px 0px 1px inset;

                        transition: all 0.15s cubic-bezier(0,0,.2,1);

                        &:hover {
                            background: rgba(64, 64, 64, 0.03);
                        }

                        .item__more {
                            font-size: 1.125rem;
                            margin-right: -0.25rem;
                            background: none;
                        }

                        .item__icon {
                            width: 45px;
                            height: 45px;
                            display: flex;
                            font-size: 0.875rem;
                            background: rgba(64, 64, 64, 0.06);
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;            
                        }

                        .item__name {
                            font-weight: 350;
                            flex-grow: 1;
                            width: 11rem;
                        }

                        .item__status {
                            width: 6rem;
                            display: flex;
                            column-gap: 0.5rem;
                            align-items: center;
                            font-weight: 350;
                            line-height: 1;

                            &:before {
                                content: "";
                                display: block;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                            }

                            &--running:before {
                                background: rgb(52, 211, 153);
                            }

                            &--stopped:before {
                                background: #707070;
                            }
                        }
                        
                        .item__cpu,
                        .item__gpu {
                            display: flex;
                            font-weight: 350;
                            min-width: fit-content;
                            column-gap: 0.5rem;
                            margin-right: 1rem;
                            align-items: center;

                            i {
                                font-size: 0.875rem;
                            }
                        }

                        .item__date {
                            color: #707070;
                            font-weight: 250;
                        }
                    }
                }
            }
        }
    }
}