.content__index {
    padding: 1.75rem 2.25rem;

    .index__header {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        margin-bottom: 1rem;

        .header__title {
            font-weight: 350;
            line-height: 1;
            color: #575b5f;
            font-size: 1.5rem;
            margin: 0;
        }
    }

    .index__tabs {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        margin-bottom: 1.5rem;
        border-bottom-width: 1px;

        .tabs__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            height: 55px;
            margin-right: auto;
            margin-left: auto;

            .container__tabs {
                display: flex;
                flex-direction: row;
                column-gap: 0.25rem;
                align-items: center;
                position: relative;
                margin-left: -0.75rem;

                .tab__item {
                    padding: 0.425rem 0.75rem;
                    border-radius: 10px;
                    display: flex;
                    color: #657380;
                    position: relative;
                    font-weight: 350;
                    cursor: pointer;

                    &:active {
                        background: #0000000f;
                    }
    
                    &:hover {
                        background: #0000000a;
                    }

                    &:after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: calc(100% - 2 * 0.75rem);
                        background: transparent;
                        border-radius: 4px;
                        position: absolute;
                        bottom: -10px;
                        left: 0.75rem;
                    }

                    &--active {
                        color: unset;

                        &:after {
                            background: currentColor;
                        }
                    }
                }
            }
        }
    }

    .index__content {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;

        .content__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            margin-right: auto;
            margin-left: auto;
    
            .container__content {
                width: 100%;

                .content__panel {
                    .panel__title {
                        font-size: 0.875rem;
                        font-weight: 300;
                        margin-bottom: 0.75rem;
                    }

                    .panel__list {
                        .list__item {
                            display: flex;
                            align-items: center;
                            column-gap: 15px;
                            padding: 0.5rem 1.125rem;
                            margin-bottom: 0.75rem;
                            height: 54px;
                            border-width: 1px;
                            border-color: #eaeaea;
                            text-decoration: none;
                            color: inherit;
                            font-size: 0.938rem;
                            cursor: pointer;
                            width: 100%;
                            border-radius: 10px;
                            background: #ffffff;
                            box-shadow: 1px 2px 4px rgba(0,0,0,.03);

                            .item__status {
                                width: 7px;
                                height: 7px;
                                border-radius: 50%;

                                &--running {
                                    background: #1ecf8c;
                                }

                                &--unhealthy {
                                    background: #d6b822;
                                }

                                &--completed,
                                &--stopped,
                                &--pending {
                                    background: #b5bac1;
                                }
                            }
                            .item__icon {
                                color: #b5bac1;
                                width: 20.5px;
                                font-size: 1.125rem;
                                
                                &--enlarged {
                                    font-size: 1.375rem;
                                }
                            }
                            .item__name {
                                font-weight: 350;
                                width: 11rem;
                            }
                            .item__ip-address {
                                flex-grow: 1;
                                font-weight: 250;
                                line-height: 1;
                                color: #8f8f8f;
                            }
                            .item__ports {
                                display: flex;
                                column-gap: 0.25rem;

                                .ports__item {
                                    text-decoration: none;
                                    font-weight: 250;
                                    color: #307ef7;
                                    background: none;
                                    border: none;
                                    cursor: pointer;

                                    i {
                                        font-size: 0.875rem;
                                    }
                                }
                            }
                            .item__image {
                                font-weight: 250;
                            }
                            .item__more {
                                font-size: 1.125rem;
                                background: none;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}