.content__index {
    padding: 1.75rem 2.25rem;

    .index__header {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        margin-bottom: 1rem;

        .header__title {
            font-weight: 350;
            line-height: 1;
            font-size: 1.5rem;
            margin: 0;
        }
    }

    .index__tabs {
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        margin-bottom: 1.5rem;

        .tabs__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            height: 55px;
            margin-right: auto;
            margin-left: auto;

            .container__tabs {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                margin-left: -1rem;

                .tab__item {
                    padding: 0.5rem 1rem;
                    border-radius: 2rem;
                    display: flex;
                    color: #707070;
                    position: relative;
                    font-weight: 450;
                    cursor: pointer;
    
                    &:hover {
                        background: rgba(237, 237, 237, 0.52);
                    }

                    &:after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: calc(100% - 2 * 1rem);
                        background: transparent;
                        border-radius: 4px;
                        position: absolute;
                        bottom: -8px;
                        left: 1rem;
                    }

                    &--active {
                        color: unset;

                        &:after {
                            background: currentColor;
                        }
                    }
                }
            }
        }
    }

    .index__content {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;

        .content__container {
            display: flex;
            flex-wrap: wrap;
            max-width: 99rem;
            margin-right: auto;
            margin-left: auto;
    
            .container__content {
                width: 100%;

                .content__panel {
                    .panel__title {
                        padding: 0.5rem 0 1rem 0;
                        color: #707070;
                        font-weight: 400;
                        font-size: 0.875rem;
                    }

                    .panel__list {
                        &#studios-list {
                            display: flex;
                            flex-direction: row;
                            column-gap: 0.75rem;
                            overflow-x: auto;
                            scroll-snap-type: x mandatory;
                            -webkit-overflow-scrolling: touch;
                            scroll-behavior: smooth;

                            .list__item {
                                display: flex;
                                flex-direction: column;
                                width: 12rem;
                                padding: 1rem 1.25rem;
                                row-gap: 0.75rem;
                                text-decoration: none;
                                color: inherit;
                                font-size: 0.938rem;
                                cursor: pointer;
                                border-radius: 1rem;
                                justify-content: space-between;
                                background: rgba(64, 64, 64, 0.06);
                                margin-bottom: 0.5rem;

                                .item__header {
                                    display: flex;
                                    align-items: center;
                                    column-gap: 1.125rem;

                                    .header__name {
                                        font-weight: 350;
                                    }
                                }

                                .item__content {
                                    display: flex;
                                    column-gap: 0.25rem;

                                    img {
                                        width: 2.25rem;
                                        height: 2.25rem;
                                        padding: 8px;
                                        border: 1px solid #dddddd;
                                        border-radius: 10px;
                                    }
                                }

                                .item__footer {
                                    .footer__status {
                                        display: flex;
                                        align-items: center;
                                        column-gap: 1rem;

                                        .status__icon {
                                            width: 6px;
                                            height: 6px;
                                            border-radius: 50%;

                                            &--running {
                                                background: #707070;
                                            }

                                            &--stopped {
                                                background: #707070;
                                            }
                                        }

                                        .status__name {
                                            color: #707070;
                                            font-weight: 350;
                                            font-size: 0.875rem;
                                        }
                                    }
                                }
                            }
                        }

                        &#containers-list {
                            .list__item {
                                display: flex;
                                align-items: center;
                                column-gap: 1.125rem;
                                padding: 0.5rem 1.25rem;
                                margin-bottom: 0.75rem;
                                height: 3.375rem;
                                text-decoration: none;
                                color: inherit;
                                font-size: 0.938rem;
                                cursor: pointer;
                                width: 100%;
                                border-radius: 1rem;
                                background: rgba(64, 64, 64, 0.06);

                                .item__status {
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 50%;

                                    &--running {
                                        background: #707070;
                                    }

                                    &--stopped {
                                        background: #707070;
                                    }
                                }

                                .item__icon {
                                    width: 1.25rem;
                                    font-size: 1.125rem;
                                    color: unset;
                                    text-align: center;
                                }

                                .item__name {
                                    font-weight: 350;
                                    width: 11rem;
                                }

                                .item__ip {
                                    flex-grow: 1;
                                    font-weight: 250;
                                    line-height: 1;
                                    color: #707070;
                                }

                                .item__ports {
                                    display: flex;
                                    column-gap: 0.25rem;

                                    .ports__item {
                                        text-decoration: none;
                                        font-weight: 250;
                                        color: #307ef7;
                                        background: none;
                                        border: none;
                                        cursor: pointer;

                                        i {
                                            font-size: 0.875rem;
                                        }
                                    }
                                }
                                
                                .item__image {
                                    font-weight: 250;
                                }

                                .item__more {
                                    font-size: 1.125rem;
                                    background: none;
                                    margin-left: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}