.content__studio {
    height: 100%;
    padding: 0 1rem 1rem;

    .studio__content {
        height: 100%;
        overflow: hidden;
        border-radius: 1.25rem;
        box-shadow: rgba(64, 64, 64, 0.1) 0px 0px 0px 1px inset;
    }
}