{% extends 'base.html' %}

{% block title %}
Clearly
{% endblock %}

{% block content %}
<div class="content__index">
    <div class="index__header">
        <div class="header__container">
            <img class="header__image" src="/static/images/shape-1.svg">
            <div class="header__content">
                <h1 class="content__title">
                    BGPDATA
                </h1>
                <div class="content__description">
                    BGPDATA is a platform for managing your prefixes.
                </div>
            </div>
        </div>
    </div>
    <div class="index__tabs">
        <div class="tabs__container">
            <div class="container__tabs" id="tabs">
                <div class="tab__item tab__item--active" target="overview">
                    Overview
                </div>
                <div class="tab__item" target="prefixes">
                    All Prefixes
                </div>
                <div class="tab__item" target="connectivity">
                    Connectivity
                </div>
                <div class="tab__item" target="activity">
                    Activity
                </div>
                <div class="tab__item" target="whois">
                    Whois
                </div>
            </div>
        </div>
    </div>
    <div class="index__content">
        <div class="content__container">
            <div class="container__content">
                <div class="content__panel" id="overview" aria-labelledby="tab-overview">
                    Hello World!
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /* Tabs */
    const tabs = document.querySelectorAll('.tab__item');
    const panels = document.querySelectorAll('.content__panel');

    function switchTab(targetId) {
        if (targetId !== 'overview') {
            history.replaceState(null, null, `#${targetId}`);
        } else {
            history.replaceState(null, null, window.location.pathname);
        }

        tabs.forEach(tab => {
            tab.classList.toggle('tab__item--active', tab.getAttribute('target') === targetId);
        });

        panels.forEach(panel => {
            panel.style.display = panel.id === targetId ? 'block' : 'none';
        });
    }

    tabs.forEach(tab => {
        tab.addEventListener('click', () => switchTab(tab.getAttribute('target')));
    });

    const handleHashChange = () => switchTab(window.location.hash.slice(1) || 'overview');
    window.addEventListener('hashchange', handleHashChange);
    handleHashChange();
</script>
{% endblock %}
