#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem 2rem;

    .header__left {
        justify-self: start;
        display: flex;

        .left__logo {
            display: flex;
            align-items: center;
            column-gap: 1.325rem;
            font-weight: 400;
            font-size: 1.25rem;
            text-decoration: none;
            color: inherit;
        }
    
        .left__delimiter {
            width: 1px;
            height: 1.5rem;
            background: rgba(64, 64, 64, 0.15);
        }
    
        .left__name {
            flex-grow: 1;
            font-weight: 300;
            color: #707070;
        }
    }

    .header__center {
        display: flex;
        justify-self: center;
        column-gap: 0.75rem;

        .center__item {
            width: 2.5rem;
            height: 2.5rem;
            overflow: hidden;
            border-radius: 0.75rem;
            background: rgba(237, 237, 237, 0.72);
            cursor: pointer;
            border: none;
            padding: 0;
        }

        .center__item:has(img) {
            outline: 0.5px solid rgba(13, 13, 13, 0.15);
            outline-offset: -0.5px;
        }
    }

    .header__right {
        justify-self: end;
    }
}
