#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.75rem 1rem;
    align-items: center;

    .header__left {
        display: flex;
        column-gap: 1.25rem;
        justify-self: start;
        align-items: center;

        .left__logo {
            display: flex;
            align-items: center;
            column-gap: 1.25rem;
            font-weight: 450;
            font-size: 1.25rem;
            text-decoration: none;
            color: inherit;
        }
    
        .left__delimiter {
            width: 1px;
            height: 1.5rem;
            background: rgba(64, 64, 64, 0.15);
        }
    
        .left__name {
            flex-grow: 1;
            font-weight: 300;
            color: #707070;
        }
    }

    .header__center {
        display: flex;
        justify-self: center;
        column-gap: 0.75rem;

        .center__item {
            width: 2.5rem;
            height: 2.5rem;
            overflow: hidden;
            font-size: 1.25rem;
            border-radius: 0.75rem;
            background: rgba(64, 64, 64, 0.1);
            cursor: pointer;
            border: none;
            padding: 0;
        }
    }

    .header__right {
        justify-self: end;

        .right__button {
            cursor: pointer;
            font-weight: 400;
            font-size: 1rem;
            height: 2.5rem;
            padding: 0 1.25rem;
            border-radius: 0.75rem;
            box-shadow: rgba(64, 64, 64, 0.16) 0px 0px 0px 1px inset;
            background: transparent;
            border: none;
        }
    }
}
