#navigation {
    flex-shrink: 0;
    max-height: 100%;
    overflow: auto;
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(64, 64, 64, 0.1);
    padding: 1.75rem 0;

    .navigation__logo {
        margin: 0 1.75rem 1.5rem;
        height: 32px;
        width: fit-content;
        display: block;
    }

    .navigation__list {
        padding: 0 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .list__title {
            padding: 0.5rem 0.75rem 0.75rem;
            color: rgb(112, 112, 112);
            font-weight: 400;
            font-size: 0.875rem;
        }

        .list__divider {
            width: 100%;

            &--grow {
                flex-grow: 1;
            }
        }

        .list__link,
        .list__button {
            width: 100%;
            border: none;
            display: flex;
            color: inherit;
            cursor: pointer;
            background: none;
            font-weight: 400;
            flex-wrap: nowrap;
            font-size: inherit;
            column-gap: 0.5rem;
            align-items: center;
            border-radius: 2rem;
            line-height: 1.75rem;
            text-decoration: none;
            padding: 0.5rem 0.75rem;
            color: rgb(112, 112, 112);
            transition: all 0.15s cubic-bezier(0,0,.2,1);

            &--active,
            &:active {
                background: rgba(64, 64, 64, 0.06);
                color: inherit !important;
            }

            &:hover:not(.list__link--active) {
                color: inherit !important;
            }

            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }

            i {
                font-size: 1.25rem;
                text-align: center;
                width: 2rem;              
            }
        }
    }
}
