#sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
    border-left: 1px solid rgba(64, 64, 64, 0.1);

    .sidebar__item {
        font-size: 1.5rem;
        transition: all 0.15s cubic-bezier(0, 0, 0.2, 1);
        border-radius: 50%;
        width: 48px;
        height: 48px;
        cursor: pointer;
        color: rgb(173, 173, 173);
        background: none;

        &:hover:not(&--selected) {
            color: #141414;
        }

        &--selected {
            color: #141414;
            background: rgba(64, 64, 64, 0.065);
        }
    }
}