.searchbar {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    & > i {
        pointer-events: none;
        fill: #525252;
        position: absolute;
        left: 10px;
        top: 50%;
        width: 20px;
        font-size: 1.125rem;
        transform: translateY(-50%);
    }

    .searchbar__label {
        display: none;
    }

    .searchbar__input {
        border: 0;
        height: 100%;
        width: 100%;
        color: inherit;
        line-height: inherit;
        font-family: inherit;
        font-size: 0.875rem;
        font-weight: 300;
        padding-left: 2.75rem;
        appearance: none;
        outline: none;

        &::placeholder {
            color: #8f8f8f;
            font-weight: 300;
        }
    }
}
