#footer {
    @media (max-width: 768px) {
        background: transparent;
    }

    .footer__container {
        text-align: center;
        color: #646467;
        font-weight: 300;
        padding: 2rem 0;
    }
}