#sidebar {
  position: fixed;
  inset: 0;
  left: 0;
  padding: 0;
  z-index: var(--z-index-sticky);
  background: var(--background);
  transition: all 0.1s ease;
  transform: translateX(-100%);
  margin-left: 0;
  width: 83.333333%;

  @media (min-width: 768px) {
    top: 8rem;
    z-index: 30;
    padding: 0;
    background: transparent;
    transform: translateX(0);
    margin-left: -0.5rem;
    height: calc(100vh - 3.5rem);
    width: 100%;
    overflow-y: auto;
    position: sticky;
  }

  &--open {
    transform: translateX(0);
  }

  .sidebar__content {
    position: relative;
    overflow: hidden;
    margin: 1rem 0;

    @media (min-width: 768px) {
      margin: 0;
      overflow: auto;
    }

    .content__wrapper {
      position: relative;

      .sidebar__navigation {
        width: 100%;

        ul {
            margin-left: 0;
            margin-top: 0;
            list-style-type: none;
            padding-left: 1.125rem;

            & > li,
            & > p {
                font-weight: 300;
                margin-top: 0.75rem;
                font-size: 1.125rem;

                &:first-child:not(ul ul > li:first-child) {
                    margin-top: 0;
                }

                &.current {
                    color: unset;
                    font-weight: 500;

                    ul {
                        display: block;
                    }
                }
            }

            ul {
                margin-top: 0;
                padding-left: 2rem;
                display: none;
            }
        }
      }
    }

    

    .sidebar__close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      border-radius: 0.125rem;
      opacity: 0.7;
      transition: opacity 0.2s ease;

      @media (min-width: 768px) {
        display: none;
      }

      &:hover {
        opacity: 1;
      }

      svg {
        height: 1rem;
        width: 1rem;
      }
    }
  }

  // Sidebar overlay for mobile
  .sidebar__overlay {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-modal);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);

    @media (min-width: 768px) {
      display: none;
    }
  }
}