.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -3rem;
    height: 35rem;

    h1 {
        font-size: 4.75rem;
        line-height: 6.5rem;
        letter-spacing: -.01em;
        font-weight: 600;
        max-width: 57rem;
        margin-bottom: 1.25rem;

        img {
            width: 9rem;
            margin-bottom: -1.75rem;
            margin-left: 0.25rem;
        }
    }

    p {
        font-size: 1.25rem;
        line-height: 2rem;
        letter-spacing: 0;
        font-weight: 300;
        color: #707070;
        margin-bottom: 2.75rem;
        max-width: 39rem;
    }

    nav {
        display: flex;
        column-gap: 1.25rem;

        a {
            box-shadow: rgba(64, 64, 64, 0.24) 0px 0px 0px 1px inset;
            transition: background 0.15s cubic-bezier(0,0,.2,1);
            padding: 0.75rem 1rem;
            line-height: 1.25rem;
            border-radius: 2rem;
            position: relative;
            column-gap: 0.5rem;
            align-items: center;
            font-weight: 500;
            cursor: pointer;
            display: flex;

            &:hover {
                background: rgba(64, 64, 64, 0.06);
            }

            &:first-child {
                background: rgb(20, 20, 20);
                padding: 0.75rem 1.25rem;
                box-shadow: none;
                font-weight: 400;
                color: #ffffff;
            }

            i {
                font-size: 1rem;
                background: rgba(64, 64, 64, 0.08);
                margin-right: -0.25rem;
                border-radius: 50%;
                padding: 0.25rem;
            }
        }
    }
}