.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        radial-gradient(
            ellipse 180% 90% at center,
            rgb(255, 255, 255) 0%,
            rgba(244, 242, 244, 0) 100%
        );
    justify-content: center;
    text-align: center;
    margin-top: -2.5rem;
    height: 35rem;

    h1 {
        font-size: 4.75rem;
        line-height: 6.5rem;
        letter-spacing: -.01em;
        font-weight: 600;
        max-width: 57rem;
        margin-bottom: 1.25rem;

        img {
            width: 9rem;
            margin-bottom: -1.75rem;
            margin-left: 0.25rem;
        }
    }

    p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0;
        font-weight: 300;
        color: #707070;
        margin-bottom: 2.75rem;
    }

    nav {
        display: flex;
        column-gap: 1.25rem;

        a {
            box-shadow: 0 0 0 1px rgb(224, 224, 224);
            padding: 0.75rem 1rem;
            line-height: 1.25rem;
            border-radius: 2rem;
            position: relative;
            column-gap: 0.5rem;
            align-items: center;
            font-weight: 500;
            cursor: pointer;
            display: flex;

            &:first-child {
                background: rgb(20, 20, 20);
                padding: 0.75rem 1.25rem;
                box-shadow: none;
                font-weight: 400;
                color: #ffffff;
            }

            i {
                font-size: 1rem;
                background: rgba(64, 64, 64, 0.08);
                margin-right: -0.25rem;
                border-radius: 50%;
                padding: 0.25rem;
            }
        }
    }
}