.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3.5rem;
    height: 30rem;

    h1 {
        font-size: 4.75rem;
        line-height: 6rem;
        letter-spacing: -.01em;
        font-weight: 300;
        max-width: 54rem;
        margin-bottom: 1.25rem;

        img {
            width: 74px;
            height: 74px;
            border: 1px solid var(--border);
            border-radius: 50%;
            margin-bottom: -8px;
            padding: 11px;
        }
    }

    p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0;
        font-weight: 300;
        color: #657380;
        margin-bottom: 2.25rem;
    }

    pre {
        border-radius: 2rem;
        padding: 1.125rem 2rem;
        
        code {
            line-height: 1.5rem;
            font-size: 0.95rem;
            font-weight: 250;
        }
    }
}