.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -3rem;
    height: 37rem;

    h1 {
        font-size: 4.75rem;
        line-height: 6.5rem;
        letter-spacing: -.01em;
        font-weight: 650;
        max-width: 56rem;
        margin-bottom: 1.25rem;

        @media (max-width: 768px) {
            font-size: 2.5rem;
            line-height: 3.25rem;
            font-weight: 600;
            max-width: 100%;
            padding: 0 1rem;
        }

        img {
            width: 9rem;
            margin-bottom: -1.75rem;
            margin-left: 0.25rem;
        }
    }

    p {
        font-size: 1.25rem;
        line-height: 2rem;
        letter-spacing: 0;
        font-weight: 300;
        color: #707070;
        margin-bottom: 2.75rem;
        max-width: 39rem;

        @media (max-width: 768px) {
            padding: 0 1.75rem;
        }
    }

    nav {
        display: flex;
        column-gap: 1.75rem;

        a {
            display: flex;
            cursor: pointer;
            font-weight: 500;
            align-items: center;
            column-gap: 0.5rem;
            position: relative;
            border-radius: 2rem;
            line-height: 1.25rem;
            padding: 0.75rem 1rem;
            box-shadow: inset 0.5px 0.5px 0px rgba(0, 0, 0, 0.05),
                        inset -0.5px -0.5px 0px rgba(0, 0, 0, 0.05);
            transition: background 0.15s cubic-bezier(0,0,.2,1);
            background: rgba(237, 237, 237, 0.5);

            &:hover {
                background: rgba(237, 237, 237, 0.85);
            }

            &:first-child {
                background: rgb(20, 20, 20);
                padding: 0.75rem 1.25rem;
                font-weight: 400;
                color: #ffffff;
                box-shadow: inset 0.5px 0.5px 1px rgba(255, 255, 255, 0.5),
                            inset -0.5px -0.5px 1px rgba(255, 255, 255, 0.5);
            }

            i {
                font-size: 1rem;
                background: rgba(64, 64, 64, 0.08);
                margin-right: -0.25rem;
                border-radius: 50%;
                padding: 0.25rem;
            }
        }
    }
}