.slider {
    position: relative;
    border-radius: 2rem;
    background: rgba(64, 64, 64, 0.06);
    padding: 5rem 6.5rem 0;
    width: 100%;

    .slider__item {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }

    .slider__caption {
        display: none;
    }
}
