<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Clearly{% endblock %}</title>

        <!-- Headers -->
        {% block headers %}{% endblock %}

        <!-- Favicons -->
        <link rel="icon" href="/static/images/favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="icon" href="/static/images/favicon-256x256.png" type="image/png" sizes="256x256" />
        <link rel="icon" href="/static/images/favicon-32x32.png" type="image/png" sizes="32x32" />

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/a69c8c907b.js" crossorigin="anonymous"></script>

        <!-- Plausible -->
        <script defer data-domain="clearly.run" src="https://plausible.io/js/script.hash.outbound-links.pageview-props.tagged-events.js"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

        <!-- Styles -->
        <link rel="stylesheet" href="/main.css" type="text/css" />
    </head>
    <body>
        {% block header %}
            {% include "layout/header.html" %}
        {% endblock %}
        
        <main id="main">
            {% block navigation %}
                {% include "layout/navigation.html" %}
            {% endblock %}
            <div id="content">
                {% block content %}
                <!-- Content Here -->
                {% endblock %}
            </div>
        </main>
    </body>
</html>
