<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Clearly{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static',filename='images/favicon.svg')}}" sizes="any" type="image/svg+xml">
        <link rel="icon" href="{{ url_for('static',filename='images/favicon-64x64.png')}}" type="image/png" sizes="64x64" />
        <link rel="icon" href="{{ url_for('static',filename='images/favicon-32x32.png')}}" type="image/png" sizes="32x32" />
        <link rel="icon" href="{{ url_for('static',filename='images/favicon-16x16.png')}}" type="image/png" sizes="16x16" />

        <!-- FontAwesome -->
        <link rel="stylesheet" href="{{ url_for('static', filename='icons/css/fontawesome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='icons/css/sharp-light.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='icons/css/sharp-thin.css') }}" />

        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css')}}" type="text/css" />

        <!-- Additional Headers -->
        {% block headers %}{% endblock %}
    </head>
    <body>
        {% block inject %}{% endblock %}
        <main id="app">
            {% include "layout/header.html" %}
            {% include "layout/navigation.html" %}
            <div id="content">
                {% block content %}
                <!-- Content Here -->
                {% endblock %}
            </div>
            {% include "layout/footer.html" %}
        </main>

        <!-- JavaScript -->
        {% for script in scripts() %}
        {{ script | safe }}
        {% endfor %}
    </body>
</html>
