{% extends 'main.html' %}

{% block title %}
{{id}}
{% endblock %}

{% block navigation %}
<!-- Empty -->
{% endblock %}

{% block headers %}
<script async>
    try {
        const secure = window.location.protocol == 'https:';
        const ws = new WebSocket(
            `${secure ? 'wss' : 'ws'}://${window.location.host}/api/containers/{{id}}/proxy/8080`
        );
        
        ws.onmessage = (event) => {
            const message = JSON.parse(event.data);
            if (message.success) {
                window.path = message.path;
                // Fetch /api/containers within the proxy.
                fetch(`${secure ? 'https' : 'http'}://${window.location.host}${window.path}/api/containers`)
                    .then(r => r.json())
                    .then(data => {
                        if (Object.keys(data.containers).length === 0) {
                            // No containers yet.
                            start({
                                id: 'vscode',
                                image: 'codercom/code-server:4.101.2-39',
                                command: ['/usr/bin/entrypoint.sh', '--bind-addr', '0.0.0.0:8080', '.', '--auth', 'none'],
                                ports: { '8081': '8080' },
                                environment: {
                                    'CODER_AGENT_SEARCH_DISABLED': 'true',
                                },
                            });
                        } else {
                            // Containers already running.
                            document.getElementById('sidebar2').innerHTML = Object.entries(data.containers)
                                .map(([id, container]) => {
                                    //const port = Object.keys(container.ports)[0];
                                    // BUG: with --json port mappping {"8081->8080/tcp": ""} in clearly list command.
                                    const port = 8081;
                                    return `<button
                                                class="sidebar__item sidebar__item--selected" 
                                                onclick="render(${port})">
                                                    <i class="fa-kit fa-${id}"></i>
                                            </button>`;
                                }).join(' ');
                        }
                    })
                    .catch((e) => {
                        console.error(e);
                        ws.close();
                    });
            } else {
                console.error(message.error);
                ws.close();
            }
        };
        
        ws.onerror = () => {
            setTimeout(() => {
                // Attempt to reconnect.
                if (confirm("Couldn't connect, reload?")) {
                    location.reload();
                }
            }, 2000);
        };
    } catch (e) {
        console.error(e);
    }
</script>
<script>
    function start(config) {
        const secure = window.location.protocol == 'https:';
        fetch(`${secure ? 'https' : 'http'}://${window.location.host}${window.path}/api/containers`, {
            method: 'POST',
            body: JSON.stringify(config)
        })
            .then(r => r.json())
            .then(data => {
                if (data.success) {
                    const port = Object.keys(config.ports)[0];
                    document.getElementById('sidebar2').innerHTML += `
                        <button
                            class="sidebar__item sidebar__item--selected"
                            onclick="render(${port})">
                                <i class="fa-kit fa-${config.id}"></i>
                        </button>`;
                } else {
                    console.error(data.error);
                }
            })
            .catch(e => {
                console.error(e);
            });
    }

    function render(port) {
        const secure = window.location.protocol == 'https:';
        const ws = new WebSocket(
            `${secure ? 'wss' : 'ws'}://${window.location.host}/api/containers/{{id}}/proxy/${port}`
        );
        
        ws.onmessage = (event) => {
            const message = JSON.parse(event.data);
            if (message.success) {
                document.getElementById('iframe').src = `http://${window.location.host}${message.path}/`;
            } else {
                console.error(message.error);
                ws.close();
            }
        };
        ws.onerror = (e) => {
            console.log(e);
            console.error(e);
            ws.close();
        };
    }
</script>
{% endblock %}

{% block content %}
<div class="content__studio">
    <div class="studio__content">
        <iframe id="iframe" width="100%" height="100%"></iframe>
    </div>
</div>
{% endblock %}
