<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Clearly{% endblock %}</title>
        <link rel="icon" href="/static/images/favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="icon" href="/static/images/favicon-256x256.png" type="image/png" sizes="256x256" />
        <link rel="icon" href="/static/images/favicon-32x32.png" type="image/png" sizes="32x32" />

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/a69c8c907b.js" crossorigin="anonymous"></script>

        <!-- Styles -->
        <link rel="stylesheet" href="main.css" type="text/css" />

        <!-- Additional Headers -->
        {% block headers %}{% endblock %}
    </head>
    <body>
        {% block inject %}{% endblock %}
        <main id="app">
            {% include "layout/navigation.html" %}
            <div id="content">
                {% include "layout/header.html" %}
                {% block content %}
                <!-- Content Here -->
                {% endblock %}
                {% include "layout/footer.html" %}
            </div>
        </main>
    </body>
</html>
