<form
    class="searchbar"
    role="search"
    action="/search"
    method="GET"
>
    <i class="fa-sharp fa-light fa-magnifying-glass"></i>
    <label
        class="searchbar__label"
        for="searchbar"
    >Enter an IP address/prefix, ASN, hostname or community</label
    ><input
        class="searchbar__input"
        type="text"
        role="searchbox"
        autocomplete="off"
        id="searchbar"
        placeholder="Enter an IP address/prefix, ASN, hostname or community"
        name="query"
    />
</form>