:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 47.4% 11.2%);
  
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
  
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 47.4% 11.2%);
  
    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
  
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 47.4% 11.2%);
  
    --primary: hsl(222.2 47.4% 11.2%);
  
    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
  
    --ring: hsl(215 20.2% 65.1%);
  
    --radius: hsl(0.5rem);

    // Z-index variables
    --z-index-default: 1;
    --z-index-tooltip: 1000;
    --z-index-sticky: 2000;
    --z-index-modal: 3000;
    --z-index-dropdown: 4000;
    --z-index-hitbox: 5000;
    --z-index-topmost: 6000;
}