.admonition {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--background));
  padding: 1rem;
  font-size: 0.875rem;
  color: hsl(var(--foreground));

  p:not(.admonition-title) {
    margin-top: 0.5rem;
  }

  .admonition-title {
    margin-top: 0 !important;
    font-weight: 500;
  }
}

.note {
  border-color: rgb(2 132 199);
  background-color: rgb(239 246 255);
  color: rgb(12 74 110);
}

.tip,
.hint {
  border-color: rgb(22 163 74);
  background-color: rgb(240 253 244);
  color: rgb(21 128 61);
}

.danger,
.error {
  border-color: rgb(220 38 38);
  background-color: rgb(254 242 242);
  color: rgb(153 27 27);
}

.attention,
.warning,
.caution,
.important {
  border-color: rgb(202 138 4);
  background-color: rgb(254 249 195);
  color: rgb(120 53 15);
}