.highlight {
    position: relative;
    background-color: transparent;
}

.highlight:hover .copy {
    opacity: 1;
}

.highlight .gp {
    user-select: none;
}

.highlight-python .go,
.highlight-pycon .go {
    user-select: none;
}

.literal-block-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5rem;
    max-width: none;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    padding-left: 0;
    padding-right: 0;
}

.literal-block-wrapper pre {
    margin-top: 0;
    border-radius: 0;
    border: none;
}

.literal-block-wrapper .code-block-caption {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid var(--border);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    color: var(--muted-foreground);
}

code {
    position: relative;
    white-space: nowrap;
    border-radius: 0.25rem;
    background-color: var(--muted);
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-family:
        ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo,
        monospace;
    font-size: 0.875rem;
}

code em,
code .ge {
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--accent-foreground);
}

:where(h1, h2, h3, h4, h5, h6) code {
    font-size: inherit;
}

pre {
    margin-top: 1.5rem;
    overflow-x: auto;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

pre.literal-block {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

pre.literal-block:hover .copy {
    opacity: 1;
}

pre code {
    white-space: pre;
    background-color: transparent;
    padding: 0;
}

pre code>[id^="line-"] {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
}

pre code [id^="line-"]:has(mark),
pre code [id^="line-"]:has(ins),
pre code [id^="line-"]:has(del),
pre code [id^="line-"]:has(.gd),
pre code [id^="line-"]:has(.gi) {
    padding-left: 0;
    padding-right: 0;
}

pre code [id^="line-"] mark,
pre code [id^="line-"] ins,
pre code [id^="line-"] del {
    position: relative;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
}

pre code [id^="line-"] mark {
    background-color: var(--muted);
    color: inherit;
    box-shadow: 2px 0 currentColor inset;
}

pre code [id^="line-"] ins {
    background-color: rgba(34, 197, 94, 0.3);
    color: rgb(22, 101, 52);
    text-decoration: none;
}

pre code [id^="line-"] ins::before {
    content: "\002b";
    position: absolute;
    left: 2px;
}

pre code [id^="line-"] del {
    background-color: rgba(239, 68, 68, 0.3);
    color: rgb(153, 27, 27);
    text-decoration: none;
}

pre code [id^="line-"] del::before {
    content: "\2212";
    position: absolute;
    left: 2px;
}

pre span.linenos {
    user-select: none;
    background-color: transparent !important;
    padding-left: 0;
    padding-right: 1rem;
}

.highlight-diff .gi {
    display: inline-block;
    width: 100%;
    background-color: rgba(34, 197, 94, 0.3);
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(22, 101, 52);
}

.highlight-diff .gd {
    display: inline-block;
    width: 100%;
    background-color: rgba(239, 68, 68, 0.3);
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(153, 27, 27);
}

.guilabel,
.menuselection {
    border-radius: 0.125rem;
    border: 1px solid var(--border);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    font-weight: 500;
    color: var(--accent-foreground);
}

#content kbd:not(.compound) {
    border-radius: 0.25rem;
    border: 1px solid;
    background-color: var(--muted);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.sig {
    scroll-margin-top: 5rem;
    border-top: 1px solid var(--border);
    padding-top: 1.5rem;
    font-family:
        ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo,
        monospace;
    font-weight: 700;
}

.sig-name {
    color: var(--accent-foreground);
}

em.property {
    color: var(--muted-foreground);
}

.option .sig-prename {
    font-style: italic;
}

.viewcode-link {
    float: right;
    color: var(--muted-foreground);
}

.option-list kbd {
    border: none !important;
    background-color: transparent !important;
    font-size: 1em !important;
    font-weight: 700 !important;
}

dt .classifier {
    font-style: italic;
}

dt .classifier::before {
    margin-right: 0.5rem;
    content: ":";
}

h2+.function .sig {
    border: none;
}

.sig-param .n:first-child {
    font-style: normal;
}