.footnote {
    &>.label {
        float: left;
        padding-right: 0.5rem;
    }

    &> :not(.label) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
    }

    & .footnote-reference,
    & [role="doc-backlink"] {
        text-decoration: none !important;
    }
}