
<footer id="footer">
    <div class="footer__content">
        <nav class="content__navigation">
            <ul class="navigation__list">
                <li><a class="list__link" href="#">Contact</a></li>
                <li><a class="list__link" href="#">Privacy Policy</a></li>
                <li><a class="list__link" href="#">Terms of Service</a></li>
                <li><a class="list__link" href="#">Accessibility</a></li>
                <li><a class="list__link" href="https://status.superclustr.net">Statuspage</a></li>
            </ul>
        </nav>
    </div>
</footer>