<nav id="navigation" aria-label="Navigation">
    <div class="navigation__container">
        <ul class="container__list">
            <!-- Menu items -->
            <li class="list__item">
                <a class="item__link" href="/" aria-label="Home">Home</a>
            </li>
            <li class="list__item">
                <a class="item__link" href="/top" aria-label="Top Prefixes">Top Prefixes</a>
            </li>
            <li class="list__item">
                <a class="item__link" href="#" aria-label="Collectors">
                    <span>Collectors</span>
                    <i class="fa-sharp fa-light fa-angle-down"></i>
                </a>
                <ul class="item__dropdown">
                    <!-- Dropdown items -->
                    <li class="dropdown__item">
                        <a class="item__link" href="/ris" aria-label="RIS">RIS</a>
                    </li>
                    <li class="dropdown__item">
                        <a class="item__link" href="/routeviews" aria-label="RouteViews">RouteViews</a>
                    </li>
                </ul>
            </li>
            <li class="list__item">
                <a class="item__link" href="/looking-glass" aria-label="Looking Glass">Looking Glass</a>
            </li>
            <li class="list__item">
                <a class="item__link" href="/whois" aria-label="Whois">Whois</a>
            </li>
            <li class="list__item">
                <a class="item__link" href="/support" aria-label="Support">
                    Support
                    <img src="{{ url_for('static', filename='images/link.svg') }}">
                </a>
            </li>
            <li class="list__item">
                <a class="item__link" href="/api" aria-label="API">API</a>
            </li>
        </ul>
        <section class="container__actions">
            <a class="actions__button" href="/peer" aria-label="Peer with us">Peer with us</a>
        </section>
    </div>
</nav>
