name: Main

on:
  push:
    branches:
      - main
    tags:
      - '*'  # Triggers both builds and tag deployments

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Create Docker Buildx builder
        run: docker buildx create --use --name mybuilder

      - name: Build and push image
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./test/Dockerfile.metadata
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/clearly:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/clearly:${{ env.VERSION }}
          platforms: linux/amd64
